/*   TOC
  Index
    Image Slider
    Welcome
    Panel Grid
  Panel - User/Account
    AddRemove Panels
    Lists
  Search Results
  Search Details
    TOC
  Calendar
    Milestone Details
    Milestone Events
  Garden Overview
    Panel
    Icon Positions
    Dials
    Panel Content
    Sidebar
    Plant List
    Gardens Plotted
  Garden Plotter
    Panel





/*							        *
 * 		   	INDEX			    *
 * 							        */


/*				Image Slider				*/

.slides > div {
  position: relative;
}

.slides .cap {
  background-color: #094724;
  color: #fff;
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 39em;
  height: 6em;
  padding: 10px;
}

.slides .cap p {
  font-size: .9em;
  font-weight: 300;
  text-align: left;
}

.slick-slide {
  border: 3px solid #094724;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #094724 !important;
}

.slick-dots li button:before {
  opacity: .75;
  color: rgb(236, 102, 0) !important;
}


/*				Welcome				*/

.welcome {
  text-align: left;
}

.welcome h1 {
  text-align: center;
  margin: 0 auto .5em;
}

.welcome li {
  list-style-type: none;
}


/*				Panel Grid				*/

.panel-grid {
  background-color: #fff;
  box-shadow: 0 0 8px 0px #6A997F;
  height: 200px;
}

.panel-grid a {
  color: #000;
}

.panel-grid a:hover {
  color: #E75C24;
}

.panel-grid h1 {
  color: #759932;
  font-size: 1.5em;
  margin: 0;
  padding-top: .5em;
  padding-bottom: .5em;
}

.panel-grid a:hover h1 {
  color: #E75C24;
}

.panel-grid p {
  margin: 0;
  padding: .5em;
}

.panel-grid span.icon {
  background-image: url('../_images/icons/grid.png');
  height: 36px;
  margin-right: 4px;
  width: 38px;
  vertical-align: text-top;
}

.panel-grid a:hover span.icon {
  background-position-y: -35px;
}

.panel-grid span.icon.search {
  background-position-x: 1px;
}

.panel-grid span.icon.plot {
  background-position-x: -38px;
}

.panel-grid span.icon.calendar {
  background-position-x: -77px;
}

.panel-grid span.icon.overview {
  background-position-x: -118px;
}

/*							            *
 * 			PANEL - USER  			*
 * 							            */
.panel.reveal-modal .panel-content .medium-6:last-of-type {
  border-left: 3px solid rgba(15, 85, 46, 0.06);
}
.panel.reveal-modal {
  background-color: #0F552E;
  color: #333;
  border-color: transparent;
  box-shadow: 0 0 5px 0 #0F552E;
  margin-top: 5.6em;
  border-radius: 5px;
  height: 26em;
}
.reveal-modal-bg {
  background: #000;
  background: rgba(0,0,0,0.45);
  bottom: -10em;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 11.7em;
  z-index: 1;
  left: 0;
}
/* AddRemove Panel */
.panel.slim {
  height: 21em;
}
span.highlight {
  font: 1.2em 'Milonga';
}
/* Account Lists */
ul.accountLists {
  list-style-type: none;
  text-align: left;
}
.accountLists li {
  font-size: 1.2 em;
}

/*							            *
 * 			SEARCH RESULTS			*
 * 							            */

.plant {
  margin-bottom: 3em;
  position: relative;
}
.ar {
  background-image: url('../_images/icons/addDelete.png');
  background-repeat: no-repeat;
  height: 15px;
  position: absolute;
    top: 7px;
    right: 5em;
  text-indent: -9999px;
  width: 15px;
  z-index: 2;
}
.ar.add{
    background-position: -16px 0;

}
.ar.add:hover {
    background-position: -16px -16px;
}
.ar.remove {
    background-position: 0 0;
}
.ar.remove:hover{
    background-position: 0 -16px;
}
.plant p {
  color: #000;
  margin-left: -0.9375em;
}
.plantListing {
  text-align: left;
}
.plant h1 {
  position: relative;
}
a.addPlant {
  position: absolute;
}
.plantImg img, .detailsImg img {
  border: 3px solid #6A997f;
}

.plant:hover .plantImg img {
  border-color: #F09120;
}

.plantListing h1, .listings .plantListing h1 {
  font-size: 1.3em;
  margin-top: 0;
  text-align: left;
  border-bottom: 2px solid #92C13E;
}

.plant:hover h1 {
  color: #F09120;
}

.plant:hover .plantListing h1 {
  border-color: #F09120;
}

.plantListing h1 > span {
  background-image: url('../_images/icons/addRemove.jpg');
  background-repeat: none;
  background-position: top left;
  float: right;
  font-size: 1px;
  margin-top: -.2em;
  text-indent: -9999px;
}

.plantListing p {
  margin-bottom: 0;
}

.plantDetails p {
  margin-left: 0;
  font-size: .8em;
}

.plantListing .plantDetails p {
  display: inline-block;
}

.plantDetails .difficulty {
  text-align: right;
}

.plantDetails .difficulty img, .diffStars {
  vertical-align: text-top;
}

.plantChart span, span.spaced {
  display: inline-block;
  font-weight: 700;
  font-size: 1.1em;
  margin-right: .5em;
  width: 4em;
}

.plant:hover .plantChart span {
  color: #E75C24;
}
.plantChart p {
  font-size: .8em;
}

.bottom {
  padding-top: 1.4em;
}
.listings > .plant .bottom {
  padding-top: 1em;
}
.plantChart {
  padding-top: .6em;
}
.rightCol span {
  width: 7em;
  display: inline-block;
}

/*							    *
 * 			DETAILS			*
 * 							    */

.row .detailsChart {
  margin-top: 2em;
  margin-bottom: 4em;
}

.charts {
  text-align: left;
}

.charts h1 {
  margin-left: .4em;
}

span.spaced {
  display: inline-block;
}

.chart div:nth-child(1) span.spaced {
  width: 4em;
}

.chart div:nth-child(2) span.spaced {
  width: 7em;
}

.chart div:nth-child(2) p {
  margin-left: .5em;
}

.chart p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2em;
  line-height: 1.2;
}

.copyText h3, .copyText h4, .copyText p, .charts h1 {
  text-align: left;
}

.copyText h4 {
  font-size: 1.3em;
}

.copyText p {
  font-size: 1.1em;
}

.detailsImg {
  height: 200px;
}

.detailsImg img {
  height: 100%;
}

hr {
  border-color: #92C13E;
  width: 80%;
  margin: 1em auto;
}


/* 			TOC				*/

.toc {
  position: fixed;
  top: 63%;
}

.toc ul {
  list-style-type: none;
  text-align: left;
  border: 2px solid #093B0D;
  padding-left: 0;
  margin-left: 0;
  margin-right: 1em;
}

.toc li {
  display: block;
  border-bottom: 1px solid #093B0D;
  margin: 0;
}

.toc li a {
  background-color: #d3e5cc;
  color: #304B22;
  display: block;
  font-size: 1em;
  font-weight: 700;
  padding: .5em;
}

.toc li a:hover {
  background-color: #92C13E;
}


/*							    *
 * 			CALENDAR		*
 * 							    */

.row .cal {
  margin-top: 2em;
}


table tr th, table tr td, table tr {
  text-align: center;
}

table {
  border: 3px solid #0F552E;
}

table thead {
  background: #D3E7CD;
}
.calendar {
  position: relative;
}
.calendar thead tr {
  border-bottom: 3px solid #0F552E;
  margin-bottom: .1em;
}

.calendar th {
  color: #E75C24;
  font: 2.1em 'Cherry Swash';
}

.calendar th:nth-of-type(2) {
  border-right: 3px solid #0F552E;
  border-left: 3px solid #0F552E;
}

.calendar a.arrow {
  background-image: url("../_images/icons/cal_arrows.png");
  background-position: top left;
  background-repeat: no-repeat;
  display: block;
  height: 1.1em;
  margin: auto;
  width: 1em;
}

a#nextMonth {
  background-position: top right;
}

a#prevMonth:hover {
  background-position: bottom left;
}

a#nextMonth:hover {
  background-position: bottom right;
}

.calendar td {
  font-size: 1.3em;
  padding: 2em 1em;
  color: #0F552E;
}

.calendar tr:nth-of-type(even), .calendar tr {
  background-color: transparent
}

.today {
  font-weight: 700;
  background-image: url('../_images/icons/cal_today.png');
  background-repeat: no-repeat;
  background-position: center center;
}
/*    Milestone Details */
.reveal-modal {
  left: 0;
  margin: 0 auto;
  max-width: 80em;
  right: 0;
  width: 47%;
  height: 42em;
}
#calDetails {
  top: 24% !important;
  left: 19.5% !important;
  background: rgba(0, 0, 0, 0.69);
  padding-top: 0;
  width: 45.6%;
}
.detailsPanel {
  background-color: #fff;
  border: 2px solid #093B0D;
}
.detailsPanel h1 {
  margin-top: 0;
  padding: .1em 0;
  font-size: 2em;
  background-color: #D3E7CD;
  border: 2px solid #093B0D;
  color: #000;
}
.detailsPanel p.milestone {
  color: #F09120;
  font-size: 1.2em;
  margin-top: 1em;
}
.detailsPanel img {
  width: 40%;
  border: 2px solid #093B0D;
}
.reveal-modal .close-reveal-modal {
  right: 3.375rem;
}
.detailsPanel .details {
  text-align: left;
  padding: 1em;
}
/*  	Milestone Events 	*/

.dateList ul {
  list-style-type: none;
  text-align: left;
  border: 2px solid #093B0D;
  padding-left: 0;
  margin-left: 0;
}

.dateList li {
  display: block;
  border-bottom: 1px solid #093B0D;
  margin: 0;
}

.dateList li a, li.heading {
  color: #304B22;
  display: block;
  font-size: 1em;
  font-weight: 700;
  padding: .5em;
}

.dateList li a:hover {
  background-color: #FED27E;
}

.dateList li.heading {
  background-color: #0F552E;
  color: #F5F9F1;
}

.dateList .planting {
  background-color: #cbdf84;
}

.dateList .prep {
  background-color: #d9ecd3;
}

.dateList .harvest {
  background-color: #92c03d;
}
/*						        	*
 * 		GARDEN OVERVIEW		*
 * 						         	*/

.row.iconLinks {
  margin-top: 4em;
}

.iconLinks a {
  color: #054724;
  display: block;
  height: 103px;
  width: 144px;
  background-image: url('../_images/icons/garden_overview.png');
  background-repeat: no-repeat;
  background-position: 27px top;
  font-size: 1.3em;
  padding-top: 100px;
}

.iconLinks a:hover {
  color: #f29100;
  background-position: 27px -119px;
}

.iconLinks #lists {
  background-position: -112px top;
}

.iconLinks #lists:hover {
  background-position: -112px -119px;
}

.iconLinks #gardens {
  background-position: -267px top;
}

.iconLinks #gardens:hover {
  background-position: -267px -119px;
}

.iconLinks #waiting {
  background-position: -424px top;
}

.iconLinks #waiting:hover {
  background-position: -424px -119px;
}
.iconLinks span {
  position: absolute;
  font-size: 1.5em;
  top: .3em;
  left: 2.2em;
  text-align: center;
  width: 2em;
}

/* Panel */

.row.panel {
  background-color: #0F552E;
  padding: 1.25rem;
  color: #333;
  border-color: transparent;
  box-shadow: 0 0 5px 0 #0F552E;
  margin-top: -2.3em;
  border-radius: 5px;
}

.panel-nav ul {
  list-style-type: none;
}

.panel-nav li {
  display: inline-block;
  text-align: center;
  padding: .2em 0 .3em;
}

.panel-nav li.selected {
  background-color: #f3f7f0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
}

.panel-nav a {
  background-image: url('../_images/icons/go_tabs.png');
  background-position: 5px 0;
  background-repeat: no-repeat;
  color: #0F552E;
  display: block;
  font-weight: 700;
  font-size: 1.1em;
  height: 50px;
  width: 55px;
  margin: auto;
}
.panel-nav a span.showNumbers {
  position: relative;
  top: 2px;
  left: 1px;
  text-align: center;
}
.panel-nav a span.hideWords {
  position: absolute;
  left: -9999px;
}
/* Icon Positions */
.panel-nav li.selected a {
  background-position: 5px -54px;
}
.panel-nav li:hover a, .panel-nav li.selected:hover a {
  color: #EF9020;
  background-position: 5px -108px;
}

.panel-nav .listed a {
  background-position: -53px 0;
}
.panel-nav .listed:hover a, .panel-nav .listed.selected:hover a {
  background-position: -53px -108px;
}
.panel-nav .listed.selected a {
  background-position: -53px -54px;
}

.panel-nav .gardens a {
  background-position: -107px 0;
}
.panel-nav .gardens.selected a {
  background-position: -107px -54px;
}
.panel-nav .gardens:hover a, .panel-nav .gardens.selected:hover a {
  background-position: -107px -108px;
}

.panel-nav .waiting a {
  background-position: -164px 0;
}
.panel-nav .waiting:hover a, .panel-nav .waiting.selected:hover a {
  background-position: -164px -108px;
}
.panel-nav .waiting.selected a {
  background-position: -164px -54px;
}
/* Dials */
.row.gages {
  margin-top: 6em;
}
div > svg > rect {
  fill: transparent;
}
path {
  stroke-width: 3px;
  stroke: #093b0d;
}
.dialLabel {
  display: none;
  font-size: 1.2em;
  width: 4em;
  text-align: center;
  position: absolute;
  left: 6em;
  top: 4.7em;
  line-height: 1.1em;
}
/* Panel Content */
.row.panel-content {
  margin-right: .5em;
  margin-left: .5em;
  margin-top: -1em;
}
.panel-content {
  background-color: #f5f9f1;
  border-radius: 15px;
  box-shadow: 0 0 6px 0 #DFFFCD;
  margin-top: -2em;
}
.panel-content h1 {
  color: #E75C24;
  padding: .5em 0;
  margin: 0;
  font-size: 2.5em;
}
.panel-page {
  background: #fff;
  border: 2px solid #093B0D;
  position: relative;
  padding: 1em;
  width: 72.7%;
  z-index: 0;
}
.panel-page >.row {
  padding-left: 2em;
}
.panel-page h2 {
  color: #E75C24;
  font-size: 1.5em;
  text-align: left;
}
.panel-page figure {
  margin: 1em 1em 1em 0;
  padding: 0;
  position: relative;
}
.panel-page figure img {
  border: 2px solid #093B0D;
}
.panel-page figcaption {
  position: absolute;
  top: 101%;
  font-size: 10px;
  line-height: 10px;
  text-align: left;
}
.panel-page .chart p {
  font-size: .9em;
  text-align: left;
}
.panel-page .chart {
  margin-top: 1em;
}
.panel-page .gi {
  margin-top: 1em;
  padding-right:1em;
}
.panel-page .gi p, .panel-page .gi h4 {
  text-align: left;
}
.panel-page .gi h4 {
  color: #E75C24;
  font-family: 'Comfortaa';
  font-size: 1.2em;
}
.panel-page .linking a {
  margin-right: 1em;
  text-decoration: underline;
}


/*  Side Bar */
.side-bar {
  margin-top: -2em;
  position: relative;
  z-index: 1;
}
.side-bar a > img {
  border: 2px solid #093B0D;
  width: 2.5em;
  margin-right: .5em;
}
.side-bar ul {
  margin-top: 2em;
  position: relative;
}
.side-bar li {
  background-color: #d9ecd3;
  list-style-type: none;
  text-align: left;
  border: 2px solid #093B0D;
  padding: .3em;
  position: relative;
}
.side-bar li a {
  color: #093B0D;
  font-weight: 700;
  padding-right: 1em;
}
.side-bar a.delete {
  color: rgb(203, 17, 17);
  float: right;
  margin-top: 0.3em;
  padding: 2px 5px 0px 0;
}
.side-bar li.selected {
  background-color: #92c03d;
}
.side-bar li:nth-child(1n+2) {
  border-top: none;
}
.side-bar li.selected:after, .side-bar li.selected:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.side-bar li.selected:after {
	border-left-color: #92c03d;
	border-width: 22px;
	margin-top: -22px;
}
.side-bar li.selected:before {
	border-left-color: #093B0D;
	border-width: 24px;
	margin-top: -24px;
}

/*  Plants List */
.listings .plantDetails p {
  font-size: .5em;
  font-weight: 300;
}
.listings .plantChart {
  margin-top: 0;
  padding-top: .3em;
}
.listings .plantChart p {
  font-size: .8em;
  line-height: 1.2em
}
/* Gardens Plotted */
.row.links {
  margin-top: 1em;
  margin-bottom: 1em;
}
table#garden_plants {
  border: none;
  width: 100%;
}
#garden_plants th {
  font-size: 1.2em;
}
table#garden_plants tr.even, table#garden_plants tr.alt, table#garden_plants tr:nth-of-type(even){
  background-color: transparent;
}
#garden_plants td {
  font-size: 1em;
}
table#garden_plants {
  border: none;
  width: 100%;
  overflow-y: scroll;
  height: 33em;
  display: block;
}

/*						        	        *
 * 		   Garden Plotter			    *
 * 							                */

#shapes #square, #shapes #rectangle, #shapes #circle {
  cursor: pointer;
  display: block;
  background-color: #D3E7CD;
  border: 2px solid #0F552E;
  margin-bottom: 2em;
  width: 6em;
  height: 6em;
}
div#square {
  margin-top: 5em;
}
#shapes #rectangle {
  width: 12em;
}
div#circle {
  border-radius: 50%;
}

canvas#gardenCanvas {
   border: 2px solid #0F552E;
 }

/*  Save Dialog Panel */
#saveDialog.panel.reveal-modal {
  height: 17em;
}
#saveDialog .panel-content {
  padding-bottom: 1em;
}
